<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/23nisanfestival.jpeg');">
        <div class="text-white">
            <h1><b>
                
            </b></h1>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">

            <div class="blogCizgisi">
              <hr class="featurette-divider">
              <span><i class="nc-icon nc-calendar-60"></i>
                23 Nisan 2022</span>
            </div>
  
            <div class="row featurette">
              <!-- <div class="col-md-3" id="zoom">
                <img src="images/23nisanfestival.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
              </div>
              <div class="col-md-3" id="zoom">
                <img src="images/sponsorlar.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
              </div>
              <div class="col-md-3" id="zoom">
                <img src="images/biz.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
              </div>
              <div class="col-md-3" id="zoom">
                <img src="images/bizimcocuklar.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
              </div> -->
              <div class="col-md-7" id="amacımız">
                <h2 class="featurette-heading"><b>23 Nisan Çocuk Oyunları Festivali</b></h2>
                <p class="lead">
                  Yenifoça TURKUAZ "ÇOCUK" Spor Kulübü,<br>
                    23 NİSAN PROGRAMI : <br>                    
                    Cumartesi <br>
                    15:00 📣 Açılış Konuşması <br>
                    15:10 🇹🇷 İstiklal Marşı <br>
                    <br>
                    15:15 ⚽ Takım Seçimleri <br>
                    <br>
                    15:30 🏁 OYUNLAR : <br>
                    * Çanak Toplama Yarışı <br>
                    * Çuval Yarışı <br>
                    * Yumurta Taşıma Yarışı <br>
                    * Halat Çekişmesi <br>
                    * Halka Atma Oyunu <br>
                    * Pet Şişe Oyunu (Water Bottle Flip) <br>
                    * Su Taşıma Yarışı <br>
                    * Penaltı Yarışması (Veliler Arası) <br>
                    <br>
                    (Oyunlara, 2010 - 2015 arası doğumlular katılabilirler. Oyunlar, süresine ve yaş gruplarına göre değişkenlik gösterebilir. Tecrübe ile sabittir.)
                </p>
              </div>
              <div class="col-md-5">
                <img src="assets/img/23nisanfestival.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="23 Nisan Festivali" >
              </div>              
              <!-- <div class="col-md-5" >
                <br>
                <div style="float: right;" class="embed-responsive embed-responsive-21by9">
                  <iframe class="embed-responsive-item" src="images/ersoy.mp4"></iframe>
                </div>  
             -->
            </div>        
            <!-- /END THE FEATURETTES -->       
          </div>
    </div>
</div>
