<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/toprak-zeminden-cim-sahalara.jpg');">
        <div class="text-white">
            <h1><b>Ailemiz</b></h1>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="baslik mt-4 font-weight-bold px-5">
                <p>Ailemiz ile ilgili başlangıçta güzel bir yazı söz birikintisi olabilir
                    Ailemiz ile ilgili başlangıçta güzel bir yazı söz birikintisi olabilir
                </p>
            </div>
            <div class="row my-4">
                <div class="col-md-3 mb-2">
                     <div class="fut-player-card">
                        <div class="player-card-top">
                            <div class="player-master-info">
                                <!-- <div class="player-rating">
                                    <span>97</span>
                                </div> -->
                                <!-- <div class="player-position">
                                    <span>RW</span>
                                </div> -->
                                <!-- <div class="player-nation">
                                    <img src="https://selimdoyranli.com/cdn/fut-player-card/img/argentina.svg" alt="Argentina" draggable="false"/>
                                </div>
                                <div class="player-club">
                                    <img src="https://selimdoyranli.com/cdn/fut-player-card/img/barcelona.svg" alt="Barcelona" draggable="false"/>
                                </div> -->
                            </div>
                            <div class="player-picture text-center">
                                <img src="assets/img/deneme.png"  alt="Turkuazlogo" draggable="false"/>
                                <div class="player-extra">
                                    <span>Forvet</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="player-card-bottom">
                            <div class="player-info">
                                <!-- Player Name-->
                                <div class="player-name">
                                    <span>Ali Emir Yıldız</span>
                                </div>
                                <!-- Player Features-->
                                <div class="player-features">
                                    <div class="player-features-col mb-2">
                                        <span>
                                            <div class="player-feature-value">kullandığı ayak</div>
                                        </span>
                                        <span>
                                            <div class="player-feature-value">Forma Numarası</div>
                                        </span>
                                    </div>
                                    <div class="player-features-col">
                                        <span>
                                            <div class="player-feature-title">Sağ ayak</div>
                                        </span>
                                        <span>
                                            <div class="player-feature-title">10</div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <div class="fut-player-card">
                       <div class="player-card-top">
                           <div class="player-master-info">
                               <!-- <div class="player-rating">
                                   <span>97</span>
                               </div> -->
                               <!-- <div class="player-position">
                                   <span>RW</span>
                               </div> -->
                               <!-- <div class="player-nation">
                                   <img src="https://selimdoyranli.com/cdn/fut-player-card/img/argentina.svg" alt="Argentina" draggable="false"/>
                               </div>
                               <div class="player-club">
                                   <img src="https://selimdoyranli.com/cdn/fut-player-card/img/barcelona.svg" alt="Barcelona" draggable="false"/>
                               </div> -->
                           </div>
                           <div class="player-picture text-center">
                               <img src="assets/img/deneme.png"  alt="Turkuazlogo" draggable="false"/>
                               <div class="player-extra">
                                   <span>Forvet</span>
                                   
                               </div>
                           </div>
                       </div>
                       <div class="player-card-bottom">
                           <div class="player-info">
                               <!-- Player Name-->
                               <div class="player-name">
                                   <span>Ali Emir Yıldız</span>
                               </div>
                               <!-- Player Features-->
                               <div class="player-features">
                                   <div class="player-features-col mb-2">
                                       <span>
                                           <div class="player-feature-value">kullandığı ayak</div>
                                       </span>
                                       <span>
                                           <div class="player-feature-value">Forma Numarası</div>
                                       </span>
                                   </div>
                                   <div class="player-features-col">
                                       <span>
                                           <div class="player-feature-title">Sağ ayak</div>
                                       </span>
                                       <span>
                                           <div class="player-feature-title">10</div>
                                       </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
           
        </div>
    </div>
</div>
