<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="text-white">
            <h1><b>Galeri</b></h1>  
        </div>
    </div>
    <div class="section profile-content">
        <div >
            <div class="gallery">
                <ul class="controls">
                    <li [class]="all" data-filter="all" (click)="allActive(0)">All</li>
                    <li [class]="category1" data-filter="category1" (click)="allActive(1)">category1</li>
                    <li [class]="category2" data-filter="category2" (click)="allActive(2)">category2</li>
                    <li [class]="category3" data-filter="category3" (click)="allActive(3)">category3</li>
                    <li [class]="category4" data-filter="category4" (click)="allActive(4)">category4</li>
                    <li [class]="category5" data-filter="category5" (click)="allActive(5)">category5</li>
                </ul>

                <div class="image-container">
                    <a href="./assets/img/examples/5.jpeg" class="image category1">
                        <img src="./assets/img/examples/5.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/12.jpeg" class="image category1">
                        <img src="./assets/img/examples/12.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/13.jpeg" class="image category1">
                        <img src="./assets/img/examples/13.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/28.jpeg" class="image category1">
                        <img src="./assets/img/examples/28.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/60.jpeg" class="image category1">
                        <img src="./assets/img/examples/60.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/64.jpeg" class="image category1">
                        <img src="./assets/img/examples/64.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/65.jpeg" class="image category1">
                        <img src="./assets/img/examples/65.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/78.jpeg" class="image category1">
                        <img src="./assets/img/examples/78.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/79.jpeg" class="image category1">
                        <img src="./assets/img/examples/79.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/83.jpeg" class="image category1">
                        <img src="./assets/img/examples/83.jpeg" alt="">
                    </a>
                    <a href="./assets/img/examples/84.jpeg" class="image category1">
                        <img src="./assets/img/examples/84.jpeg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
