<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="text-white">
            <h1><b>Beslenme</b></h1>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="text-area mt-4 font-italic">
                <h5 class="text-center font-weight-bold ">Sana bunun kolay olacağını söylemiyorum. Buna değeceğini söylüyorum.</h5>

                <h5 class="text-center"><b>Üzerinde çalışacağın en iyi proje sensin.</b></h5>

                <h5 class="text-center font-weight-bold">"Eğer ağaca çıkmak istiyorsanız, yıldızlara çıkmaya niyet edin başarırsınız."</h5>
               <h6 class="text-center"> - Konfüçyüs</h6>
            </div>
            <div class="section" id="carousel">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-md-12 mr-auto ml-auto">
                            <div class="card page-carousel">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/1.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/2.jpeg" alt="Random second slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere else</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/3.jpeg" alt="Random third slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Here it is</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/4.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/5.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/6.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/7.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/8.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/9.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/10.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/11.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/12.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/13.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/14.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/15.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/16.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <img src="https://turkuazspor.com/beslenme/17.jpeg" alt="Random first slide">
                                        <div class="carousel-caption">
                                            <!-- <p>Somewhere</p> -->
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-area  font-italic">
                <h5 class="text-center font-weight-bold mb-3">Evet zor. Kolay olsa herkes yapardı. Herkes yapsaydı muhteşem olmazdı.</h5>

                <h6 class="text-center">"Önce biz alışkanlıklarımızı oluştururuz, sonra da alışkanlıklarımız bizi oluşturur."</h6>
                    <h6 class="text-center "> - John Dryden</h6>

                <h5 class="text-center font-weight-bold">Henüz oraya ulaşamamış olabilirsin ama dün olduğun noktadan ileridesin.</h5>
               
            </div>
        </div>
    </div>
</div>