<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="text-white">
            <h1><b>Hakkımızda</b></h1>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7 order-md-2" id="hedeflerimiz">
                  <h2 class="featurette-heading">Hedeflerimiz ve Projelerimiz <span class="text-muted"> </span></h2>
                  <p class="lead">Kulübümüzün projeleri içerisinde, öğrencilerimizi beldemizden yetişmiş olan başarılı sporcular ve özellikle de kız öğrencilerimiz için, hala hazırda görüşmekte de 
                    olduğumuz kadın milli futbol takımımız sporcuları ile bir araya getirmek. Bu başarılı sporcularımızın tecrübe ve 
                    başarı sırlarını öğrencilerimizle paylaşmalarını sağlayarak, öğrencilerimizin bu sporcularımızı rol model 
                    alarak, önlerine hedefler koyabilmelerine vesile olabilmektir. Bu bizim ve kulübümüz için büyük bir önem taşımaktadır.<br>
                            Ayrıca yakın çevremizde ikamet eden diğer spor branş hocalarımız ile temas halindeyiz. Atletizm, Oryantrik, Voleybol, Basketbol ve Okçuluk branşlarında spor yapmış, eğitim deneyimi ve belgeleri olan bu hocalarımız ile projelerimizi dinamik tutmaktayız.     <br>
                       Kulüp olarak en büyük hedefimiz ise, beldemizde ve yakın çevre beldelerinde ulaşabildiğimiz her çocuğumuzu spor ile buluşturabilmektir.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 mt-5" id="zoom">
                  <img src="./assets/img/11.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Siren Efsanesi</title>
          
                </div>
              </div>
          
              <hr class="featurette-divider">
          
              <div class="row featurette">
                <div class="col-md-7" id="faaliyetlerimiz">
                  <h2 class="featurette-heading"> Faaliyetlerimiz <span class="text-muted"> </span></h2>
                  <p class="lead">Kulübümüz henüz çok yeni olmasına rağmen, kuzey İzmir’de ( Çiğli, Dikili arası ), hem erkek hem de kadın futbol branşlarında tescili olan tek kulüptür.<br>
                    Futbol branşında alt yapı eğitimleri verilen kulübümüzde, lisans yaşı gelen tüm öğrencilerimize ( Kız ve Erkek ) lisans çıkartarak, sportif başarısızlığı umursamadan yaş gruplarında ki resmi mücadelelere çıkmalarını sağlayıp, bu deneyimin geri kalan hayatları için güzel bir anı olabilmesi temennisiyle, o büyük heyecanı öğrencilerimiz ve velilerimizle birlikte paylaşıyoruz…<br>
                   Kulübümüzde, futbol haricinde özelikle milli bayramlarımızda eğlenceli oyunlar eşliğinde etkinlikler düzenleyerek, milli bayramlarımızın önemini öğrencilerimiz ile paylaşmanın gururunu yaşıyoruz.<br>
                    Tesisimiz içerisinde antrenman öncesi ve sonrası öğrencilerimizin kitap okuma ve zeka oyunları oynamalarını teşvik edici etkinlikler düzenliyoruz.<br>
                    Tesisimiz içerisinde belirli dönemlerde, yabancı dil başta olmak üzere birçok branşta öğrencilerimize katkı sağlayacak eğitimler vermekteyiz.<br>
      Bahar ve Yaz dönemlerinde öğrencilerimizle birlikte doğa yürüyüşleri ve çadır kampları düzenlemekteyiz.<br>
           Çevre okullarımızda taramalar yaparak yetenekli kız ve erkek öğrencilerimizi kulübümüzün çatısı altında spor yapabilmelerini sağlıyoruz.<br>
           Yetenekleri üst seviyede olan öğrencilerimizin önlerini açarak, onların yeteneklerini geliştirebilecekleri ve hedeflerini büyültebilecekleri kulüpler ile buluşmalarına vesile oluyoruz.
    
              </p>
                </div>
                <div class="col-md-5 mt-5" id="zoom">
                  <img src="./assets/img/7.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mb-3" width="600" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                  
                  <img src="./assets/img/29.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                </div>
              </div>
          
              <hr class="featurette-divider">
    
              <div class="row featurette">
                <div class="col-md-7 order-md-2 mt-5" id="dernek">
                  <h2 class="featurette-heading">Derneğimiz <span class="text-muted"> </span></h2>
                  <p class="lead">
                    Yenifoça Turkuaz Çocuk Spor Kulübümüz, Futbol branşında ALTYAPI yetiştirici kulübü olarak çalışmak, Çocuklarımıza ve gençlerimize sosyal ve sportif faaliyetler yaptırmak, kötü alışkanlıklardan uzak durmalarını, olumlu yönde gelişmelerini sağlamak, Futbol, Hentbol, Futsal, Basketbol, Voleybol vb. takım sporları ile Atletizm, Yüzme, Bisiklet vb. bireysel yarışmacı sporlarında üyelerimize ve çocuklarımıza etkinlik yaptırmak, Çeşitli sosyal faaliyetler organize edip çevreciliği, doğa sevgisini aşılamak. Faydalı ilimler hakkında araştırmalar yapmak, bilgi sahibi olmayı yaygınlaştırmak ve sevdirmek, beden ve ruh sağlığımız için spor yapmayı teşvik etmek, sigara ve alkol gibi madde bağımlılığından uzaklaşmayı tavsiye etmek amacı ile 30 Ağustos 2017 de kurulmuştur.
                    <br><br><b>RESMİ DERNEK HESABIMIZ</b><br>
                    <h5>Garanti bankası Foça şubesi<br>
                    Yenifoça Turkuaz Gençlik Spor Kulübü<br>
                    TR88 0006 2001 4820 0006 2992 49</h5><br>
                    <h4>Çocuklarımız adına çok teşekkür ederiz...</h4>
                    
                </div>
                <div class="col-md-5 order-md-1" id="zoom">
                  <img src="./assets/img/derneklogo.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mb-3" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Siren Efsanesi</title>
                  <img src="./assets/img/4.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Siren Efsanesi</title>
                </div>
              </div>
          
              <hr class="featurette-divider">
        </div>
    </div>
</div>
